# CDC Natality Data 2021, reformat
In its current form, this data is a text file where rows of data are interrupted by linebreaks, and particular variables are accessed by their position in line. The following reads in the codebook and the dataset, and uses this info to convert the data into a more conventional csv format.

Data Source: https://www.cdc.gov/nchs/data_access/vitalstatsonline.htm Files used: 2021 Birth Data User Guide and U.S Data

### Part One: Get Column Values from Codebook

In [1]:
#import codebook pdf and convert p. 9-38 to a list of tables
import tabula

file = "../UserGuide2021.pdf"
all_tables = tabula.read_pdf(file,pages='9-38')

We are interested in the 'Position', 'Length', 'Field', and 'Description' values when generating a list of column variabes (key table). The way tabula converts the tables, some have 'Position' and 'Length' in distinct columns,
whereas others have them merged; some tables have the first row of data mistaken for header rows.

The cell below groups the tables by how they are formatted and translates them to a uniform format before concatenating them into a single table.

In [2]:
import pandas as pd 
import re

#parse tabels into groups based on how they are formatted by tabula
col_tables_a = list(filter(lambda df: 'Position  Length' in list(df), all_tables))
col_tables_b = list(filter(lambda df: 'Position' in list(df), all_tables))
col_tables_c = list(filter(lambda df: (re.search('[0-9]+-[0-9]+', list(df)[0]) != None), all_tables))
col_tables_d = list(filter(lambda df: (re.search('[0-9]+ [0-9]+', list(df)[0]) != None), all_tables))
col_tables_e = list(filter(lambda df: list(df)[0] == 'Unnamed: 0', all_tables))

#compile and format tables that orignally ahd 'Position   Length' column into one table
col_table_a = pd.concat(col_tables_a)
col = col_table_a['Position  Length'] 
col_table_a['Position'] = list(map(lambda x: str(x)[:str(x).index(' ')] if (' ' in str(x)) else x, col))
col_table_a['Length'] = list(map(lambda x: str(x)[str(x).index(' ')+1:] if (' ' in str(x)) else x, col))
col_table_a = col_table_a[['Position', 'Length', 'Field', 'Description']].dropna()

#compile tables already in correct format into single table
col_table_b = pd.concat(col_tables_b)
col_table_b = col_table_b[['Position', 'Length', 'Field', 'Description']].dropna()

#format table groups c and d which have first row mistaken for header 
def reformat_c(df):
    #reference: https://stackoverflow.com/questions/59783735/dataframe-convert-header-row-to-row-pandas
    #note future warning to replace append with concat
    if ' ' in list(df)[0]:
        df = df.iloc[:, 0:3]
        df.columns = ['Position  Length', 'Field', 'Description']
        col = df['Position  Length'] 
        df['Position'] = list(map(lambda x: str(x)[:str(x).index(' ')] if (' ' in str(x)) else x, col))
        df['Length'] = list(map(lambda x: str(x)[str(x).index(' ')+1:] if (' ' in str(x)) else x, col))
        df = df[['Position', 'Length', 'Field', 'Description']].dropna()
    else: 
        df = df.iloc[:, 0:4]
        df = df.columns.to_frame().T.append(df, ignore_index=True)
        df.columns = ['Position', 'Length', 'Field', 'Description']

        df.dropna(inplace = True)
    return df
    
col_tables_c = list(map(reformat_c, col_tables_c))
col_table_c = pd.concat(col_tables_c)

def reformat_d(df):
    df = df.iloc[:, 0:3]
    df = df.columns.to_frame().T.append(df, ignore_index=True)
    df.columns = ['Position  Length', 'Field', 'Description']
    col = df['Position  Length'] 
    df['Position'] = list(map(lambda x: str(x)[:str(x).index(' ')] if (' ' in str(x)) else x, col))
    df['Length'] = list(map(lambda x: str(x)[str(x).index(' ')+1:] if (' ' in str(x)) else x, col))
    df = df[['Position', 'Length', 'Field', 'Description']].dropna()
    return df
    
col_tables_d = list(map(reformat_d, col_tables_d))
col_table_d = pd.concat(col_tables_d)

#format table group e, which have missing header names
def reformat_e(df):
    df = df.iloc[1:, 0:4]
    df.columns = ['Position', 'Length', 'Field', 'Description']
    return df
    #return df

col_tables_e = list(map(reformat_e, col_tables_e))
col_table_e = pd.concat(col_tables_e)
col_table_e.dropna(inplace = True)

#import csv of manually added values missed in above scrape
col_table_f = pd.read_csv('manual_field_entry.csv')

#concatenate all tables to single dictionary, stored as DataFrame
col_table = pd.concat([col_table_a, col_table_b, col_table_c, col_table_d, col_table_e, col_table_f])

<ipython-input-2-678b9e014893>:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.columns.to_frame().T.append(df, ignore_index=True)
<ipython-input-2-678b9e014893>:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.columns.to_frame().T.append(df, ignore_index=True)
<ipython-input-2-678b9e014893>:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.columns.to_frame().T.append(df, ignore_index=True)
<ipython-input-2-678b9e014893>:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.columns.to_frame().T.append(df, ignore_index=True)
<ipython-input-2-678b9e014893>:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.columns.to_frame().T.append(df, ignore_index=True)
<ipython-input-2-678b9e014893>:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.columns.to_frame().T.append(df, ignore_index=True)

In [3]:
#order col table by start value extracted "Position" field
#create an end value as well for use in reformatting

col_table['Position'] = list(map(lambda x: int(x) if ( #standardizes 'Position' format
    '-' not in str(x)) else x, col_table['Position']))

col_table['Start'] = list(map(lambda x: int(str(x)[:str(x).index('-')])  #extract start position from 'Position'
                              if ('-' in str(x)) else int(x), col_table['Position']))

col_table['End'] = list(map(lambda x: int(str(x)[str(x).index('-')+1:]) #extract end position from 'Position'
                              if ('-' in str(x)) else int(x), col_table['Position']))

col_table = col_table.sort_values('Start') #sort cols by starting position
col_table['Length'] = col_table['Length'].astype('int64') 
col_table.drop_duplicates(inplace = True, subset=['Position']) #drop duplicates
col_table #display table

,Position,Length,Field,Description,Start,End
1,1-8,6,FILLER,Filler,1,8
3,9-12,4,DOB_YY,Birth Year,9,12
5,13-14,2,DOB_MM,Birth Month,13,14
18,15-18,4,FILLER,Filler,15,18
20,19-22,4,DOB_TT,Time of Birth,19,22
...,...,...,...,...,...,...
18,562-566,5,FILLER_CA,Filler,562,566
19,567,1,ITRAN,Infant Transferred,567,567
20,568,1,ILIVE,Infant Living at Time of Report,568,568
1,569,1,BFED,Infant Breastfed at Discharge,569,569
5,570,1,F_BFED,Reporting Flag for Breastfed at Discharge,570,570

The cell below checks for gaps in columns collected, i.e. any fields that the above scrape may have missed.
The cell outputs {None} once there are no gaps, and I have adjusted the above code to reach this point.

In [4]:
check_gaps = [None if col_table['Start'].iloc[i+1] == 1+col_table['End'].iloc[i]
    else '{}-{}'.format(col_table['End'].iloc[i] , col_table['Start'].iloc[i+1]) 
              for i in range(len(col_table)-2)]
set(check_gaps)

{None}

In [5]:
#save key table
col_table.to_csv('Column_Info.csv')

See txt_to_csv.ipynb for part 2